body {
    background: url("https://i.imgur.com/MW8ZHXX.gif") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}
    

.container {
    margin:auto;
}


h1 {
    font-family: 'Aladin', cursive;
    margin-top: 10px;
    border:solid white 3px;
    padding:5px;
    background-color: rgba(40, 43, 29, 0.6);
    
}

h4 {
    font-family: 'Aladin', cursive;
    border:solid white 3px;
    padding:5px;
    background-color: rgba(40, 43, 29, 0.6);
    text-align: center;
    
    
    
}

.img-thumbnail {
    height: 225px;
    width:175px;
    background-color: rgba(40, 43, 29, 0.6);
    border:solid white 3px;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.btn {
    margin-top:75px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    width:300px;
    opacity: .90;
}

#game-board {
    font-family: 'Aladin', cursive;
    color: white;
    border:solid white 3px;
    padding: 10px;
    background-color: rgba(40, 43, 29, 0.6);
    text-align: center;
    margin-top:15px;
    margin-bottom:45px;

}

